[buildout]
develop  = .
develop-eggs-directory = .buildout/develop-eggs
eggs-directory = .buildout/eggs
parts-directory = .buildout/partss
parts = app
        test
        
[app]
recipe = zc.recipe.egg
interpreter = python
dependent-scripts = true
eggs = 
    minidou
    ipython

scripts = 
    minidou
    ipython
    nose

[test]
recipe = pbp.recipe.noserunner
eggs = ${app:eggs}
defaults = -vd
