svg {
  font: 10px sans-serif;
}

.navbar{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}
.container{

  width: 95%;
}
#chart {
  position:fixed;
  right:0;
  left:250px;
  bottom: 0;
  top:40px;
  /*height: 600px;*/
  /*padding-top: 20px;*/
  clear: both;
  overflow-x: scroll; 
  margin-top: 30px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  /*fill: url(#temperature-gradient);*/
  /*stroke: #000;*/
  /*stroke-opacity: .2;*/
}

.link:hover {
  stroke-opacity: .5;
}

.person-info {
    line-height: 20px;
    border-bottom: 1px dashed #d6d6d6;
    padding: 4px 2px 4px 6px;
    display: table;
    clear: both;
    list-style: none;
    font-size: 13px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    right:0;
    left:250px;
    bottom: 0;
    top:40px;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#chart.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#chart.loading .modal-loading {
    display: block;
}


/*************************************************************
 * box
 *
 * Used in: Search result blocks.
 *************************************************************/
.box {
  overflow: visible;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.1);
  *border: 1px solid #999;
  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -webkit-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
.box.notfly{overflow:visible;}
.box.notfly .box-body{overflow:visible;}

.box.shadow {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.box.fade { top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.box.fade.in {top: 50%;}
.box-header {padding: 9px 15px;border-bottom: 1px solid #eee;}
.box-header .close {margin-top: 2px;}
.box-body {padding: 15px;overflow-y:auto;}
.box-form {margin-bottom: 0;}

.box-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.box-footer:before,
.box-footer:after {display: table;content: "";}
.box-footer:after {clear: both;}
.box-footer .btn + .btn {margin-bottom: 0;margin-left: 5px;}
.box-footer .btn-group .btn + .btn {margin-left: -1px;}

.box .line {margin:0px 4px;}
.box .line2 {margin:0px 8px;}

.box-header .btn-group .btn{line-height:13px;padding: 1px 4px 4px 4px;}

/* size control */

.box.box-mini .box-footer {padding:4px 15px 4px}
.box.box-mini .box-header {padding: 1px 8px;}
.box.box-mini .box-header .btn-group {margin-top:-2px;}
.box.box-mini .box-body {padding:0px;}

/* box theme */
/* theme: blue */
.box.box-blue .box-header {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.box.box-blue .box-header h4,
.box.box-blue .box-header h5
 {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

/* theme: silver */
.box.box-silver .box-header {
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.box.box-silver .box-silver h4 {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}


ul.rich-info-list h3{font-size:16px;line-height:20px;text-rendering: opoptimizelegibility;margin:2px 0 3px 0;}
ul.rich-info-list h3 .title{color:#333;font-weight:400;}
ul.rich-info-list h3 small{font-size:12px;color:#999;font-weight:normal;margin-left:8px;}
ul.rich-info-list .head{margin-top:2px;margin-bottom:2px;}

ul.rich-info-list p{font-size:12px;line-height:18px;margin:0 0 3px 0;}
ul.rich-info-list .p{font-size:12px;line-height:18px;font-weight:normal;margin-bottom:3px;}
ul.rich-info-list .p .key{color:#ff9f22}
ul.rich-info-list .p a{color:black}
ul.rich-info-list .p a.label{color:white}

ul.rich-info-list .stat{color:green;font-size:12px;font-weight:400px;}
ul.rich-info-list .stat em{font-weight:bold;}

ul.rich-info-list .authors{color:url#093}
ul.rich-info-list .authors a{color:#093}
ul.rich-info-list .authors .highlight{color:rgb(255,128,0);}
ul.rich-info-list .authors .error{color:rgb(255,0,0);border:solid 1px red;}

/* small */
ul.rich-info-list.small h3{font-size:12px;line-height:16px;}
ul.rich-info-list.small h3 .title{color:#333;font-weight:bold;}
ul.rich-info-list.small h3 small{font-size:12px;margin-left:6px;}
ul.rich-info-list.small p, ul.rich-info-list.small .p{font-size:13px;}
ul.rich-info-list.small p{font-size:12px;line-height:18px;font-weight:normal;}
